:root {
    --font-poppins: 'Poppins', serif;
    --font-playfair: 'Playfair Display', serif;
    --color-bluelight: #7cb7f2;
    --color-graylight: #bababa;
    --color-black: #0b0c11;
    --color-gray: #636363;
    --color-violet: rgba(206, 96, 168, 255);
}